body.home.overflow-hidden {
    background: #fff;
}

body .container .post-content.well {
    box-shadow: 0px 0px;
}

.col-md-9.col-xs-12 {
    padding-right: 30px;
}

.main.outer{
    padding-top: 50px;
    width: auto;
}

nav.menu .navbar-collapse.collapse {
    width: 100%;
}
nav.menu .navbar-collapse.collapse ul.nav {
    background-color: #005565;
}
nav.menu .navbar-collapse.collapse ul.nav li.current-menu-item a {
    background-color: #0AACCC;
    background-color: #006c80;
}
li.current-menu-item:before {
    content: "";
    display: inline-block;
    height: 55px;
    width: 7px;
    position: absolute;
    left: 9px;
    vertical-align: middle;
    background: #FFF;
    background: #00ACCC;
}
nav.menu .navbar-collapse.collapse ul.nav li a:hover {
    background-color: #006c80;
}
nav.menu ul li {
    list-style: none;
    margin: 5px 0;
}

.menu ul li a {
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
    display: block;
    text-decoration: none;
    padding: 0 0 0 10px;
    color: #fff;
}

.header-panel.shadow-z-2 {
    background-color: #171717;
    padding: 50px 0 30px 0;
    width: 100%;
}
.full{ font-size: 16px; }
img { max-width: 100%; }
a { color: #008299; }
a:hover { 
    color: #FFF;
    text-decoration: none;
    background: #0AACCC;
}
.logo-turner {
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 2px;
}
.row-content{
    vertical-align: top;
}
.row-picture {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.row-details {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
}
.full ul,.full ol {
    margin-left: 15px;
}
.full img{
    display: block;
    max-width: 100%;
    height: auto;
}
.social-icons {
    margin: 20px 0 0;
}
.icon {
    background: rgba(255, 255, 255, 0.63);
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    color: #005565;
    padding: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
}
.icon:hover {
    color: rgba(255, 255, 255, 0.63);
    background: #005565;
}
.home-subtitle {
    font-size: 26px;
    margin-bottom: 32px;
    margin-top: 5px;
    color: #01c87b;
    font-weight: 300;
}
h1.blog-title-pro {
    margin-left: 30px;
    font-size: 40px;
}
span.tags{ margin: 0 2px;cursor: pointer;display: inline-block;}
.card .card-image .card-image-headline-custom{
    position: absolute;
    margin-bottom: 0;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 5px 0 12px;
    color: #fff;
    font-size: 2em;
    background: -moz-linear-gradient(bottom,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 83%, rgba(0,0,0) 100%);
background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 83%,rgba(0,0,0) 100%);
background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,rgba(0,0,0,0.9) 83%,rgb(0, 0, 0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}
.card .card-footer a {
    margin: 0 !important;
    position: relative;
    bottom: 25px;
    width: auto;
}
#filters {
    margin: 0 0 25px 0;
}
.list-separator li > a i{
    width: 56px;
    height: 56px;
    text-align: center;
    line-height: 56px;
    font-size: 20px;
}
.error {
    color: #EF7272!important;
    font-size: 12px!important;
}
#portfolio-filter {
        margin-top: 50px;
}
.navbar-toggle i {
    color: #BCCCBF;
}
.menu .list-group-item-heading, .menu .list-group-item-text{
    color:#fff!important;
}
@media (max-width: 768px) {
    #portfolio-filter {
        margin-top: 0px;
    }
}
footer {
    border-top: 1px solid #C5C0C0;
    width: 100%;
    height: 10px;
    margin-top: 10px;
    margin-bottom: 3em;
    padding-top: 10px;
    font-size: 14px;
    bottom: 0;
    padding-bottom: 10px;
}
.pager li a,
.pager li span {
    border: none;
    color: #008299;
}
.pager li a:hover {
    background: rgba(0, 130, 153, 0.3);
}
.pager li.active a {
    background: #008299;
    color: #fff;
}
/** Search input **/
.searchcontrol {
    margin-top: 35px;
    margin-bottom: 0;
}
.searchcontrol input[type=text]{
    color:#fff;
}
.searchcontrol input[type=text]:focus{
    outline: none;
    border: none;
    box-shadow: none;
}

/** Search result dropdown **/
.search__results {
    display: block;
    background: #fff;
    list-style: none;
    padding: 0;
    transition: 0.2s ease;
    position: absolute;
    width: 100%;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    border-radius: 2px;
    border: 0;
    z-index: 999;
}
.search__results.is-hidden {
    opacity: 0;
    transform: translateY(-1vh);
    display: none;
}
.search__results > li {
    border-top: 1px solid #f0f0f0;
    padding: 10px 0;
}
.search__results > li > a {
    padding: 10px;
}
.search__result-date {
    font-size: 12px;
    color: #BBB;
    position: absolute;
    right: 12px;
}

table, th, td {
    border: solid 1px #ccc;
    padding: 10px;
}

table {
    margin: 30px auto;
}

body .container ul.well {
    padding: 0;
}

body .container ul.well li {
    margin: 5px 0;
    padding: 0;
    padding-left: 15px;
}

ul.panel {
    max-height: 0;
    overflow: hidden;
    margin: 0;
    transition: max-height 0.5s ease;
}

body .container ul.well li.accordion {
    margin-bottom: 0px;
}

body .container ul.well li.li-panel {
    margin: 0px;
}

body .container ul.well li.accordion.active a {
    background-color: #006c80;
}

body .container ul.well ul.panel li {
    background-color: #008299;
    margin: 0;
}

body .container ul.well ul.panel li a {
    padding: 10px 0px 10px 20px;
}

body .container ul.well ul.panel li a i {
    line-height: normal;
    height: auto;
    width: 40px;
}

body .container nav.menu ul.well ul.panel li a:hover {
    background-color: #0AACCC;
}

#metrics .nav-tabs {
    border-bottom: none;
}
#metrics .metrics-menu {
    margin-top: 20px;
}

@media (min-width: 768px) {
    .navbar-collapse {
        width: 290px;
    }
}

table.frequency td:last-child {
    text-align: center;
    color: #005565;
}

table.frequency td:last-child i.fa-times {
    color: #333;
}

table.frequency td:last-child i.fa-check {
    color: #00accc;
}

* {
    text-align: justify;
}

p {
    margin-bottom: 20px;
}

ul:not(.panel) {
    padding-left: 20px;
}

#js-search__input::placeholder {
    color: #fff;
    opacity: 0.8;
}

div.well.metrics ul.nav-tabs {
    padding-left: 0;
    margin-left: 0;
    background: #fff;
}

div.well.metrics div.tab-pane img {
    margin: 20px auto;
}

div.well.metrics ul.nav-tabs>li>a {
    color: #005565 !important;
    background: #fff;
}

div.well.metrics ul.nav-tabs>li>a:hover {
    color: #00ACCC !important;
}

div.well.risks div.risk-geral img {
    margin: auto;
}

div.well.metrics ul.nav-tabs>li.active>a {
    background: #005565 !important;
    color: #fff !important;
}

div.well.risk div.card-deck,
div.well.metrics div.card-deck {
    margin-top: 50px;
}

div.well.metrics div.card-deck .card {
    max-width: 48%;
    margin-right: 10px;
    margin-bottom: 20px;
}

#metrics .container {
    width: auto;
}

.btn.btn-sm.btn-default.btn-raised:hover {
    background: #00accc;
    color: #fff;
}

.btn.btn-sm.btn-primary.btn-raised,
.btn.btn-sm.btn-primary.btn-raised:hover {
    background: #005565;
}

body.home div.container.main div.well {
    box-shadow: 0px 0px;
}

h2:not(:first-child) {
    margin-top: 60px;
}

h3, h4, h5, h6 {
    margin-top: 40px;
}

/* Novos estilos para github pages */

.mb-30 {
    margin-bottom: 30px
}

.font-titulos {
    font-family: 'Maven Pro', sans-serif;
}

.texto-home{
    padding-top: 1px; 
    font-family: 'Open Sans', sans-serif;
}

.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

.vcenter {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}